@import "tailwindcss";

@theme {
    --color-primary: #f59e0b;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
    @apply bg-white text-slate-900 dark:bg-slate-950 dark:text-white transition-colors duration-500;
}

@keyframes shine {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.active-link-hover-effect:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0) 100%);
    animation: shine 1.5s infinite;
    pointer-events: none;
}